{% extends 'base.html.twig' %} {% block body %}
<div class="main-panel">
    <!-- BEGIN : Main Content-->
    <div class="main-content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="row">

                <div class="card-header bg-danger row mt-4">
                    <div class="card-title text-center font-weight-bold">{{ title }}</div>
                    <a href="{{path('app_classe')}}" class="btn btn-success btn-sm float-right">
                        Liste des classes
                      </a>
                </div>
            </div>

            <div class="card">

                <div class="col-8 offset-2 mt-5">
                    {{ form(form) }}
                </div>
            </div>


        </div>


    </div>
</div>


</div>
</div>


{% endblock %}