{% extends 'base.html.twig' %}

{% block body %}
  <div class="container mt-5">
    <table class="table  table-bordered">
      <tr>
        <th>
          Nom Complet
        </th>
        <th>
          Grade
        </th>
        <th>
          Actions
        </th>
      </tr>

      {% for prof in professeurs %}
        <tr>
          <td>
            {{ prof.nomComplet }}
          </td>
          <td>
            {{ prof.grade }}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
