{% extends 'base.html.twig' %}

{% block body %}
  <table class="table table-striped table-bordered">
    <tr>
      <td>Nom Complet</td>
      <td>Grade</td>
    </tr>

    {% for professeurs in prof %}
        
    {% endfor %}
  </table>
{% endblock %}
