{% extends 'base.html.twig' %}

{% block body %}
  <table class="table table-striped table-bordered">
    <tr>
      <td>
        Nom Complet
      </td>
      <td>
        Grade
      </td>
      <td>
        Actions
      </td>
    </tr>

    {% for prof in professeurs  %}
      <tr>
        <td>
          {{ prof.nomComplet }}
        </td>
        <td>
          {{ prof.grade }}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
