{% extends 'base.html.twig' %} {% block body %}
<div class="main-panel">
    <!-- BEGIN : Main Content-->
    <div class="main-content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="row">

                <div class="card-header bg-danger col-12 mt-4">
                    <div class="card-title text-center font-weight-bold"></div>

                </div>
            </div>


            <img src={{ asset( 'images/school.jpg')}} alt="" class="img-responsive offset-4 col-12">
        </div>


    </div>
</div>


</div>
</div>


{% endblock %}